h1{
    color: #07415c;
    background-color: #abc7d4;
    text-align:center;
}
li{
    color:green;
}
#hehe{
    color:blue;
}
.jaja{
    color:red;
}
.kaka{
    background-color: yellow;
}
#phone{
    text-align:right;
    font-family:Comic Sans MS;
    font-style:italic;
    font-weight:bold;
}
body{
    background-color:#856c21;
    padding: 30px;
}
#gia{
    border:5px dotted gray;
    padding:20px;
    margin:20px;
}
th{
    background-color:#4CAF50;
    color:white;
    text-align:center;
}
th,td{
    padding:15px;
}
tr:nth-child(even){
    background-color:#f0f0f0;
}
tr:nth-child(odd){
    background-color:#ffffff;
}
table{
    border-collapse:collapse;
    width:80%;
}
.secret{
    display:none;
}